<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>External - Users</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="/bootstrap.min.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="col-md-4">
				<h2>Create / Update User</h2>
				<form id="updateUser" method="post" action="/users/createUpdate" th:object="${userCreateUpdate}">
					<div class="form-group">
						<label for="userId">User Id:</label>
						<input class="form-control" type="text" th:field="*{userId}" required="required" />
					</div>
					<div class="form-group">
						<label for="name">Name:</label>
						<input class="form-control" type="text" th:field="*{name}" required="required" />
					</div>
					<div class="form-group">
						<label for="email">Email: </label>
						<input class="form-control" type="email" th:field="*{email}" required="required" />
					</div>
					<div class="form-group">
						<label for="locked">Is Locked: 
						<input type="checkbox" th:field="*{locked}" />
						</label>
					</div>
					<input type="submit" value="Save" class="btn btn-default" />
				</form>
			</div>
		</div>
		<div class="container-fluid">
			<h2>Users</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>User Id</th>
						<th>Name</th>
						<th>Email</th>
						<th>Locked</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.getUserId()}"></td>
						<td th:text="${user.getName()}"></td>
						<td th:text="${user.getEmail()}"></td>
						<td th:text="${user.isLocked()}"></td>
						<td><a class ="btn btn-default" href="#" th:href="@{'/users/' + ${user.getUserId()}}">Update</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
